//-------------------DESKTOP MENU---------------// 
.Navigation{
    // height:100vh;
    // position:absolute;
    opacity:1;
    z-index:1;
    width:100%;
    text-align:center;
    background:rgba(43, 43, 43, 0.89);
    padding:12px;
    padding-top:8px;
    box-sizing:border-box;
    ul{
        margin:0;
        padding:0;
    }
    span{
        color:rgba(255, 255, 255, 0.226);
    }
.link{
    text-decoration:none;
    color:rgb(216, 216, 216);
    font-size:9pt;
    padding:10px 10px 10px 10px;
    margin:0 10px 0 10px;
    padding-bottom:5px;
    &:hover{
        color:rgb(163, 163, 163);
    }
}
}

//--------------------MOBILE MENU----------------------//

.mobileMenu{
    display:none;
#page-wrap {
    text-align: center;
    overflow: auto;
    top: 45%;
    position: relative;
  }
  
  .sidebar {
      overflow:hidden;
      &:focus{
          outline:none;
      }
      .SideLink{
    display: block; 
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
    &:hover{
        color:white;
    }
  }}
  
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
button{
    &:focus{
        outline:none;
    }
}
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #000000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
    button{
        &:focus{
            outline:none;
        }
    }
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: rgba(28, 38, 48, 0.945);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}