header{
    margin-right:15px;
    margin-left:15px;
.HeaderGrid{
    display:grid;
    grid-template-columns: 65% 35%;
    margin:auto;
    padding:10px;
    padding-bottom:30px;
    margin-top:50px;
    max-width:1366px;
    width:100%;
    box-sizing:border-box;

    button{
        background:#00f9b6;
        text-decoration:none;
        font-family: 'Titillium Web';
        padding:2px 25px 2px 25px;
        font-size:12pt;
        font-weight:600;
        border:none;
        border-radius:2px;
        margin-left:20px;
        color:#2c3737;
        transition: 0.3s;
        &:hover{
            background:#00f9b7b9;
        }
    }
.TopNav{
    position:relative;
    .NavImage{
        width:100%;
        box-sizing:border-box;
        float:right;
        padding-right:10px;
    }
    .Links{
        z-index:1;
        position: absolute;
        top:35%;
        bottom:25%;
        right:3%;
    
        span{
            padding-left:30px;
            a{
                color:white;
                text-decoration:none;
                font-weight:200;
                &:hover{
                    color:rgba(255, 255, 255, 0.616);
                }
            }
        }
    }
}
.Search{
    color:white;
    padding-left:10px;
    text-align:right;
        span{
        color:#AFAFAF;
        font-size:9pt;
        padding:10px;
    }
    .contact{
        display:inline-block;
    .Mail{
        max-height:15px;
    }
    .Phone{
        max-height:22px;
        padding-left:8px;
    }
}
    .Cart{
        max-height:25px;
        padding-left:10px;
    }
    button{
        width:50%;
        margin:auto;
        margin-top:10px;
    }
}
}

.Breadcrumbs{
    border-top:1.5px solid rgba(255, 255, 255, 0.178);
    border-bottom:1.5px solid rgba(255, 255, 255, 0.178);
    margin:auto;
    margin-bottom:20px;
    max-width:1366px;
    width:100%;
    padding:5px;
    box-sizing:border-box;
    position:relative;
    img{
        max-width:18px;
        margin:0 8px 0 0;
        margin-left:15px;
    }
    a{
        color:#00f9b6;
        text-decoration:none;
        font-weight:200;
        font-size:11pt;
        &:hover{
            color:white;
        }
    }
    .historylink{
        display:inline-block;
        position:absolute;
        right:15px;
        margin:0;
        font-size:13pt;
        &:hover{
            color:white;
        }
    }
}
}