footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    background:#353535;
    border-bottom:7px solid #4e4e4e;
    padding:10px;
    box-sizing:border-box;
}