.LoginSide{
    padding:20px;
    padding-top:0;
    max-width:800px;
    margin:auto;
    font-size:10pt;
    margin-bottom:200px;
    color:white;
    p{
        font-size:13pt;
        font-weight:bold;
        margin:0;
    }
    h2{
        font-weight:200;
        margin:0;
    }
    label{
        display:block;
        padding:18px 0 5px 0;
        font-size:12pt;
        font-weight:200;
    }
    input{
        padding:10px;
        border-radius:3px;
        text-decoration:none;
        background:#00f9b71c;
        border:1.5px solid #00f9b767;
        color:#00f9b6;
        font-size:12pt;
        font-family: Titillium Web;
        width:100%;
        max-width:300px;
    }
        button{
            background:#00f9b6;
            text-decoration:none;
            display:block;
            font-family: 'Titillium Web';
            padding:5px 28px 5px 28px;
            font-size:12pt;
            border:none;
            border-radius:2px;
            margin-top:20px;
            color:#2c3737;
            font-weight:bold;
        }
}
