$accent-color: #00f9b6;

.SiteGrid{
    display:grid;
    grid-template-columns: 14% 86%;
    width:100%;
    max-width:1366px;
    margin:auto;
    padding:10px;
    box-sizing: border-box;
    margin-bottom:140px;
}

html{
    background:black;
    }
    
.Content{
    padding:10px;
    box-sizing:border-box;
    width:100%;
}
