@media only screen and (max-width:1130px) {
    header{
    .HeaderGrid{
        display:grid;
        grid-template-columns: 50% 50%;
        margin:auto;
        padding:10px;
        padding-bottom:30px;
        margin-top:30px;
        max-width:1366px;
        width:100%;
        box-sizing:border-box;
        .TopNav{
            button{
                font-size:12pt;
            }
            .Links{
                position: absolute;
                left:0;
                span{
                    padding-left:15px;
                }
            }
            .NavImage{
                display:none;
            }
        }
        .Search{
            text-align:right;
            padding-right:20px;
            button{
                width:40%;
                margin:auto;
                margin-top:10px;
            }
        }
    }
}}

@media only screen and (max-width: 980px) {
.SiteGrid{
grid-template-columns: auto;
}
.SideMenu{
    width:100%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
    .mainlink{
        text-align: center;
        margin:2px;
        margin-top:8px;
        
    }

    .Brandmenu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
        margin:auto;
        width:40%;
        .sublinks{
            padding:0px 5px;
            margin:0;
        }
        .sublink{
            padding: 2px;
            text-align: center; 
        }
        .brandlink{
            width: 40%;
            color:white;
            font-size:11.5pt;
            &:hover{
                color:#00f9b6;
            }
        }
    }
    .Submenu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
        margin:auto;
        width:70%;
        .sublinks{
            padding:2px;
        }
        .sublink{
            padding: 2px;
            padding-top:0;
            padding-bottom:0;
            text-align: center; 
            font-size:11.5pt;
            color:white;
            &:hover{
                color:#00f9b6;
            }
        }
    }
}
.History{
    padding-left:0px;
}


}


@media only screen and (max-width: 850px) {

    header{
        display:none;
    }
    .mobileMenu{
        display:block;
    }
    .SideMenu{
        margin-top:80px;
    }
}
